body{
    margin: auto;
    width: 50vw;
}

#destinos-incriveis{
    color: #2C3E50;
    text-align: center;
    font-size: 36px;
    
}
h1{
 text-align: center;
 color: #2C3E50;
 background-color:#ECF0F1;
}
h2{
    text-align: center;
    color: #2C3E50;
    background-color:#ECF0F1;
}

p{
    text-align: center;
    padding: auto;
    color: #2C3E50;
}