
:root{
    --cor-cabecalho-inicial: #e7610d;
    --cor-cabecalho-final: #c15d00;
    --cor-funda-body: #f5f5f5;
    --cor-main: #969393;
    --cor-rodade: #707070d0;
    --cor-botao-cabecalho: #ffffffa6;
}
